<div class="container vh-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-6">
        <mat-card>
        <h2 class="text-center font-monospace">Contabilidad Mensual</h2>
          <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>Presupuesto mensual Carla: </mat-label>
            <input [formControl]="salary" matInput placeholder="Ej: 2000€"  />
          </mat-form-field>
           <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>Presupuesto mensual Iván: </mat-label>
            <input matInput placeholder="Ej: 2000€"  />
          </mat-form-field>
           <button (click)="putSalary()" style="width: 100%" mat-raised-button color="primary"> <span class="font-monospace">CALCULAR</span></button>
           <p class="text-center font-monospace mt-4"><small>Made with 🤍 Ivgome ;}</small></p>
        </mat-card>

      </div>
    </div>
</div>
